<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Title</title>{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Adding static CSS file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                {% block sidebar %}
                <ul class="sidebar-nav">

                    <!-- Need to make if user library manager to see all bookinstances on loan -->


                    {% if user.is_authenticated %}
                        <li>User: {{ user.get_username }}</li>
                        {% if perms.catalog.can_mark_returned %}
                            <li><a href="{% url "all-borrowed" %}">Manage Instances</a></li>
                        {% else %}
                            <li><a href="{% url 'my-borrowed' %}">My borrowed</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout?</a></li>
                    {% else %}
                        <li><a href="{% url 'login'%}?next={{request.path}} ">Login?</a></li>
                    {% endif %}
                    <li>---------</li>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'books' %}">All books</a></li>
                    <li><a href="{% url 'authors' %}">All authors</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="col-sm-10">
                <!-- Content -->
                {% block content %}
                {% endblock %}
                <!-- Paging -->
                {% block pagination %}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                {% endblock %}
                <!--
                 page_obj is object type Paginator, which creating every time when paging is used for current page
                 he allows get all information about current page, previous pages, all amount of pages etc.

                 we using request.path to get current url and create next page url
                 -->
            </div>
        </div>
    </div>
</body>
</html>